PORT=5000
MONGODB_URI=mongodb://StudyPlanner_app:bV18DBzEdy5c4zqb@mycluster-shard-00-00.tnco7us.mongodb.net:27017,mycluster-shard-00-01.tnco7us.mongodb.net:27017,mycluster-shard-00-02.tnco7us.mongodb.net:27017/studyplanner?ssl=true&replicaSet=MyCluster-shard-0&authSource=admin&retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_here
NODE_ENV=production
FRONTEND_URL=https://study-planner-nine-fawn.vercel.app
